.fondo{
    background: url(../Imagenes/fondoDark2.jpg) center center / cover no-repeat fixed;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;    
    color: #a6a6a6	;
    background-blend-mode: overlay;
    font-family:  'Roboto','  sans-serif';
    font-size: 1.2rem;     
    font-weight: bold;     
    font-style: italic;    
}

.titulos{
    color: style="color: #3e4a61	;";
}

.nav{
    background-color: hsl(312, 6%, 16%);
    border: double 2px #f5f5f5;
    border-radius: 10px;
    font-size: 20px;
    margin: auto;
    text-decoration: none;
}  

nav a {
    text-decoration: none;
}
.nav h3 {
    text-align: center;
    margin-top: 5px;
    font-size: x-large;
    color: #d3d2d2;
}

.nav ul{
    display:flex;
    justify-content: space-around;
    list-style: none; 
}

.nav li a {
    text-decoration: none;
    color: #d4b106;
    font-weight: bold;
    position: relative; 
    padding: 5px 8px;
    display: inline-block; 
    transition: all 0.3s ease;
}

.nav li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: #8a0e2c; 
    transition: width 0.3s ease;
}

.nav li a:hover {
    color: #8a0e2c;
    transform: scale(1.05);
}

.nav li a:hover::after {
    width: 100%;
}

.footer {
    background-color: hsl(312, 6%, 16%);
    border: double 2px #f5f5f5;
    border-radius: 10px;
    font-size: 20px;
    margin: auto;
    text-decoration: none;
} 

.footer a {
    text-decoration: none;
}
.footer h3 {
    text-align: center;
    margin-top: 5px;
    font-size: x-large;
}

.footer ul{
    display:flex;
    justify-content: space-around;
    list-style: none; 
}

.footer li a {
    text-decoration: none;
    color: #d4b106;
    font-weight: bold;
    position: relative; 
    padding: 5px 8px;
    display: inline-block; 
    transition: all 0.3s ease;
}

.footer li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: #8a0e2c; 
    transition: width 0.3s ease;
}

.footer li a:hover {
    color: #8a0e2c;
    transform: scale(1.05);
}

.footer li a:hover::after {
    width: 100%;
}

head{
    font-family: 'Roboto';
    margin: 15px;
}
body{
    font-family: 'Roboto';
    margin: 15px;
}

h1,h2{
    color: #d3d2d2	;
    text-decoration: underline;
}

h3{
    color: #d3d2d2	;
}




#cueva{
    margin-top: 0px;
}

#bosque{
    margin-top: 0px;
}

strong{
    color: #8a0e2c;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}

em, a{
    color: #d4b106;
}