iframe{
    width:800px;
    Height: 500px;
}

img {
        width:800px;
        Height: 500px;
}

#Entrevistas {
    margin-top: 50px;
    color: #3e4a61;
}

#Premios {
    margin-top: 75px;
    color: #3e4a61;
}
#Camaras {
    margin-top: 75px;
    color: #3e4a61;
}

#Curiosidades {
    margin-top: 75px;
    color: #3e4a61;
}


#ArbolG {
    justify-content:flex-start;
    height:900px;
    width: 700px;
}

#Triqueta{
    height: 500px;
    width: 600px;
}

main li {
    list-style: none;
}
.entrevistas {
    display: flex;
    flex-direction: column;
}

.premios {
    display: flex;
    flex-direction: column;
}

#premiacion:hover {
    border: 3px;
    border-style: ridge;
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    border-color: gold;
    transition: transform 0.4s ease;
}