img, video, iframe {
    max-width: 100%;
    height: auto;
}

/* Celulares pequeños de hasta 600px */
@media screen and (max-width: 599px) {
    body {
        font-size: 1.1rem;
        margin: 10px;
    }

    nav ul, .footer ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .personajes {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    main li,
    main ul.personajes li {
        padding: 10px !important;
        text-align: center !important;
        line-height: 1.3 !important;
        width: 90% !important;
        height: auto !important;
        font-size: 1rem !important;
        margin-bottom: 20px !important;
    }

    main ul.personajes li img {
        display: block;
        margin: 10px auto 0 auto;
        max-width: 100% !important;
        height: auto !important;
    }

    .imagenes {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .links {
        flex-direction: column;
        gap: 10px;
    }

    #arbolG {
        height: auto;
        width: auto;
    }

    ul.personajes li:hover {
        transform: none;
        box-shadow: none;
        border-color: white;
    }

    .nav li a:hover, 
    .footer li a:hover {
        color: #d4b106 !important;
        transform: none !important;
    }

    ul.personajes li:hover img {
        transform: none;
    }

}

/* Celulares grandes de 600px a 767px */
@media screen and (min-width: 600px) and (max-width: 767px) {
    ul.personajes li {
        display: flex !important;          
        flex-direction: column !important;  
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;               
        text-align: left !important;       
        padding: 10px !important;          
        height: auto !important;           
    }

    ul.personajes li img {
        max-width: 45% !important;   
        min-height: auto;
        height: auto !important;
        margin-left: 10px;                 
    }

    ul.personajes li p {
        flex: 1 1 55%;        
        min-width: 150px;
        line-height: 1.4 !important;       
    }

    .imagenes {
        flex-direction: column;
        gap: 10px;
    }

    .imagenes img {
        width: 100%;
        height: auto;
    }

    ul.personajes li:hover {
        transform: none;
        box-shadow: none;
        border-color: white;
    }

    .nav li a:hover, 
    .footer li a:hover {
        color: #d4b106; 
        transform: none;
    }
    
    ul.personajes li:hover img {
        transform: none;
    }
}